.add-sticky {
  margin:0 auto;
  padding-top: 20px;
  position: relative;
  width: 400px;
}
  
.note_text {
  display: block;
  margin: 0;
  width: 374px;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  border-radius: 0;
  padding: 10px;
  border: solid 3px #39b8a3;
}

.note_text:focus{
  border: solid 3px #4895c4;
}

.add_button{
  border: none;
  display: block;
  margin: 10px auto;
  width: 400px;
  color: #fff;
  font-size: 14px;
  background: #39b8a3;
  padding: 10px 20px;
  text-decoration: none;
}

.add_button:hover{
  background: #4895c4;
  text-decoration: none;
}

.hp-note {
  background-color: #fff;
  position: absolute;
  top: 20px;
  right: -110px;
  padding: 0 3px;
}

.hp-note label {
  font-size: 12px;
  vertical-align: text-top;
}

.board {
  height: 100vh;
}
